.vs/SimpleGame/FileContentIndex/73c839dd-a6a3-4f72-b36a-08f7139978d6.vsidx
.vs/SimpleGame/FileContentIndex/83b5ed2e-2d3e-4c4c-bc2a-3fee7a8bd3fe.vsidx
.vs/SimpleGame/FileContentIndex/73c839dd-a6a3-4f72-b36a-08f7139978d6.vsidx
.vs/SimpleGame/v17/.suo
.vs/SimpleGame/v17/Browse.VC.db
.vs/SimpleGame/FileContentIndex/1934bfa3-1c76-41eb-bfe1-55e01382b83a.vsidx
.vs/SimpleGame/FileContentIndex/f83e3641-ed33-4605-a6ce-6c240adc14b0.vsidx
.vs/SimpleGame/v17/.suo
.vs/SimpleGame/v17/Browse.VC.db
.build/
